# Build artifacts
**/bin/
**/obj/
**/packages/

# User-specific files
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.dbmdl
**/*.jfm
**/*.log

# Visual Studio
**/.vs/
**/.vscode/
**/.idea/
**/.nuget/

# Git
**/.git/
**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

# Docker & Kubernetes
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/azds.yaml
**/secrets.dev.yaml
**/values.dev.yaml
**/charts/

# Node.js (frontend)
**/node_modules/
**/npm-debug.log
**/yarn-error.log

# System files
**/.classpath
**/.project
**/.settings
**/.env
**/.toolstarget
**/.DS_Store
**/Thumbs.db

# CI/CD & Docs
LICENSE
README.md

# Allow tracked .gitignore to stay
!**/.gitignore
